.indicatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background: white;
  border: 2px solid #e5e7ed;
  border-radius: 2%;
  box-shadow: 5px 4px 4px 0px #e6e6e6;
  padding: 20px 80px;
}

.mainIndicatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.indicatorTitle {
  font-size: 24px;
  margin-bottom: 4px;
}

.indicatorFormFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicatorSubtitle {
  font-size: 14px;
  color: inherit;
  margin-bottom: 20px;
}

.parameterContainer {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 50px;
  width: 500px;
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  margin-bottom: 15px;

  &:hover {
    background: #f2f2f2;
    transition: 0.3s;
    box-shadow: 2px 1px 1px 0px #f2f2f2;
  }

  h4 {
    font-size: 20px;
    margin-right: 10px;
  }

  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;

    &:focus {
      border-color: #61dafb;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
